{% extends 'base.html' %}


{% block content %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ note.name }}
                </h3>
                <p class="editContent" style="outline: none; cursor: inherit;">
                    {{ note.description }}
                </p>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
